<div class="container">
  <md-card class="cards" ng-repeat="pod in podResults">
    <table>
      <tbody>
        <tr>
          <th><a href="{{pod.link}}" title="{{pod.name}}">{{pod.name}}</a></th>
          <!-- <th>Xcode</th> -->
          <th ng-if="pod.ios">iPhone</th>
          <th ng-if="pod.watchos">iWatch</th>
          <th ng-if="pod.macos">iMac</th>
          <th ng-if="pod.tvos">Apple TV</th>
        </tr>
        <tr>
          <td>{{pod.description}}</td>
          <!-- <td>8</td> -->
          <td ng-if="pod.ios">{{pod.ios}}</td>
          <td ng-if="pod.watchos">{{pod.watchos}}</td>
          <td ng-if="pod.macos">{{pod.macos}}</td>
          <td ng-if="pod.tvos">{{pod.tvos}}</td>
        </tr>
      </tbody>
    </table>
  </md-card>
</div>
