<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="pull-left">
                    <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <p>Developed by
                        <a href="http://hiimharsh.github.io/harsh" target="_blank"><md-tooltip md-direction="down">Harsh Thakkar</md-tooltip>Harsh</a></p>
                </div>
            </div>
        </div>
    </div>
</footer> -->
