<header>
  <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2 class="md-block">
          <span>IsMyPodCompatible<sup>BETA</sup></span>
        </h2>
        <span flex></span>
        <!--<md-button class="md-raised" aria-label="FEEDBACK">FEEDBACK</md-button>-->
        <ul>
          <li><a ng-click="openFeedback()" title="Feedback">FEEDBACK</a></li>
        </ul>
      </div>
    </md-toolbar>
    <div class="podfile-upload">
      <form class="" name="podupload">
        <md-button class="md-raised" aria-label="Upload PodFile" ng-click="doUpload()">
          <label class="pod-file-upload">
            Upload Podfile
          </label>
        </md-button>
        <!-- onchange="angular.element(this).scope().fileUploaded()" -->
        <input id="pod-upload" type="file" name="podfile" ng-model="myFile"  accept="file/" on-read-file="readContent($fileContent)"/>
      </form>
    </div>
</header>
